{% extends "base.html" %} {% block title %}home{% endblock %} {% block
    content %}
    <h1>example images you can try out</h1>
    <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
           
              <img src="static\images\1.jpg" alt="Lights" style="width:100%" width="200" height="200">
              <div class="caption">
                <p>Real age - 25</p>
              </div>
           
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            
              <img src="static\images\2.jpg" alt="Nature" style="width:100%" width="200" height="200">
              <div class="caption">
                <p>Real age 23</p>
              </div>
          
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            
              <img src="static\images\70.jpg" alt="Fjords" style="width:100%" width="200" height="200">
              <div class="caption">
                <p>Real age 72</p>
              </div>
            
          </div>
      

    {% endblock %}