{% extends "base.html" %} {% block title %}home{% endblock %} {% block
    content %}
    <h1>example images you can try out</h1>
    <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
           
              <img src="static\images\1_0_0_20161219154556757.jpg.chip.jpg" alt="Lights" style="width:100%" width="200" height="200">
              <div class="caption">
                <p>Real age - 1</p>
              </div>
           
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            
              <img src="static\images\70_0_0_20170104213624677.jpg.chip.jpg" alt="Nature" style="width:100%" width="200" height="200">
              <div class="caption">
                <p>Real age 70</p>
              </div>
          
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            
              <img src="static\images\36_0_0_20170117183231302.jpg.chip.jpg" alt="Fjords" style="width:100%" width="200" height="200">
              <div class="caption">
                <p>Real age 36</p>
              </div>
            
          </div>
      

    {% endblock %}